## Get categories to query from a yaml file

In [1]:
import pandas as pd
import os
os.chdir('/Users/karibenson/dsi/dsi-repo/DSI_SM_3/projects/project-06/')

In [4]:
import lib.database_module as db
import lib.encoding_module as enc
import lib.wiki_module as wiki

In [5]:
conn, cur = db.connect_to_postgres()

Connected to server joshuacook.me.

## Query Wikipedia by category for pages

In [6]:
import yaml

In [7]:
with open('/Users/karibenson/dsi/categories.yml') as yaml_file:
    categories = yaml.load(yaml_file)

In [8]:
categories

{'category': ['cat breeds']}

## Write category info to database

In [9]:
responses = []
for c in categories['category']:
    response = wiki.query_category(c)
    responses.append(response)

In [10]:
responses

[{'categoryid': u'710421',
  'pages': [{'pageid': 7199, 'title': 'List of cat breeds'},
   {'pageid': 28660394, 'title': 'List of experimental cat breeds'},
   {'pageid': 30875080, 'title': 'Abyssinian cat'},
   {'pageid': 148839, 'title': 'American Bobtail'},
   {'pageid': 70025, 'title': 'American Curl'},
   {'pageid': 47185236, 'title': 'American Ringtail'},
   {'pageid': 638469, 'title': 'American Shorthair'},
   {'pageid': 2328963, 'title': 'American Wirehair'},
   {'pageid': 35809078, 'title': 'Arabian Mau'},
   {'pageid': 11444751, 'title': 'Asian cat'},
   {'pageid': 3413387, 'title': 'Asian Semi-longhair'},
   {'pageid': 63889, 'title': 'Australian Mist'},
   {'pageid': 42964218, 'title': 'Balinese cat'},
   {'pageid': 32389924, 'title': 'Bambino cat'},
   {'pageid': 63064, 'title': 'Bengal cat'},
   {'pageid': 146048, 'title': 'Birman'},
   {'pageid': 638492, 'title': 'Bombay cat'},
   {'pageid': 19031302, 'title': 'Brazilian Shorthair'},
   {'pageid': 15178017, 'title': 'British Longhair'},
   {'pageid': 45323, 'title': 'British Shorthair'},
   {'pageid': 261787, 'title': 'Burmese cat'},
   {'pageid': 1259546, 'title': 'Burmilla'},
   {'pageid': 615214, 'title': 'California Spangled'},
   {'pageid': 42963973, 'title': 'Cashmere cat'},
   {'pageid': 1516202, 'title': 'Chantilly-Tiffany'},
   {'pageid': 638548, 'title': 'Chartreux'},
   {'pageid': 1022343, 'title': 'Chausie'},
   {'pageid': 44345213, 'title': 'Cheetoh cat'},
   {'pageid': 2570560, 'title': 'Colorpoint Shorthair'},
   {'pageid': 63258, 'title': 'Cornish Rex'},
   {'pageid': 145675, 'title': 'Cymric cat'},
   {'pageid': 1065489, 'title': 'Donskoy cat'},
   {'pageid': 19997444, 'title': 'Dragon Li'},
   {'pageid': 386875, 'title': 'Egyptian Mau'},
   {'pageid': 1158095, 'title': 'European Shorthair'},
   {'pageid': 71025, 'title': 'Exotic Shorthair'},
   {'pageid': 48575141, 'title': 'Foldex cat'},
   {'pageid': 5495150, 'title': 'German Rex'},
   {'pageid': 565399, 'title': 'Havana Brown'},
   {'pageid': 38724655, 'title': 'Highlander cat'},
   {'pageid': 146031, 'title': 'Himalayan cat'},
   {'pageid': 38736227, 'title': 'Isle of Man Longhair'},
   {'pageid': 38736231, 'title': 'Isle of Man Shorthair'},
   {'pageid': 148843, 'title': 'Japanese Bobtail'},
   {'pageid': 638898, 'title': 'Javanese cat'},
   {'pageid': 27307256, 'title': 'Kashmir cat'},
   {'pageid': 24030657, 'title': 'Khao Manee'},
   {'pageid': 298906, 'title': 'Korat'},
   {'pageid': 22279493, 'title': 'Kurilian Bobtail'},
   {'pageid': 5387760, 'title': 'LaPerm'},
   {'pageid': 42287415, 'title': 'Lykoi'},
   {'pageid': 70024, 'title': 'Maine Coon'},
   {'pageid': 145672, 'title': 'Manx cat'},
   {'pageid': 51102656, 'title': 'Mexican Hairless Cat'},
   {'pageid': 26130075, 'title': 'Minskin'},
   {'pageid': 32745073, 'title': 'Minuet cat'},
   {'pageid': 145780, 'title': 'Munchkin cat'},
   {'pageid': 46910943, 'title': 'Napoleon cat'},
   {'pageid': 173764, 'title': 'Nebelung'},
   {'pageid': 173757, 'title': 'Norwegian Forest cat'},
   {'pageid': 145785, 'title': 'Ocicat'},
   {'pageid': 1136544, 'title': 'Ojos Azules'},
   {'pageid': 20582289, 'title': 'Oregon Rex'},
   {'pageid': 13807127, 'title': 'Oriental Bicolour'},
   {'pageid': 2569354, 'title': 'Oriental Longhair'},
   {'pageid': 639613, 'title': 'Oriental Shorthair'},
   {'pageid': 33876998, 'title': 'Persian cat'},
   {'pageid': 2769391, 'title': 'Peterbald'},
   {'pageid': 51119983, 'title': 'Pittsburgh refrigerator cat'},
   {'pageid': 963131, 'title': 'Pixie-bob'},
   {'pageid': 43569735, 'title': 'Raas cat'},
   {'pageid': 3055080, 'title': 'Ragamuffin cat'},
   {'pageid': 610191, 'title': 'Ragdoll'},
   {'pageid': 144792, 'title': 'Russian Blue'},
   {'pageid': 12556065, 'title': 'Russian White, Black and Tabby'},
   {'pageid': 49413741, 'title': 'Sam Sawet'},
   {'pageid': 1954032, 'title': 'Savannah cat'},
   {'pageid': 145684, 'title': 'Scottish Fold'},
   {'pageid': 64022, 'title': 'Selkirk Rex'},
   {'pageid': 2851028, 'title': 'Serengeti cat'},
   {'pageid': 49413707, 'title': 'Serrade petit cat'},
   {'pageid': 63087, 'title': 'Siamese cat'},
   {'pageid': 639735, 'title': 'Siberian cat'},
   {'pageid': 639747, 'title': 'Singapura cat'},
   {'pageid': 9011815, 'title': 'Skookum cat'},
   {'pageid': 799673, 'title': 'Snowshoe cat'},
   {'pageid': 1034110, 'title': 'Sokoke'},
   {'pageid': 148091, 'title': 'Somali cat'},
   {'pageid': 64150, 'title': 'Sphynx cat'},
   {'pageid': 46232331, 'title': 'Suphalak'},
   {'pageid': 12150640, 'title': 'Thai cat'},
   {'pageid': 31684693, 'title': 'Thai Lilac'},
   {'pageid': 580880, 'title': 'Tonkinese cat'},
   {'pageid': 2884695, 'title': 'Toyger'},
   {'pageid': 30456458, 'title': 'Traditional Persian'},
   {'pageid': 50040691, 'title': 'Traditional Siamese cat'},
   {'pageid': 639754, 'title': 'Turkish Angora'},
   {'pageid': 17353018, 'title': 'Ukrainian Levkoy'},
   {'pageid': 63895, 'title': 'York Chocolate'}]}]

In [11]:
responses_df = pd.concat([pd.DataFrame(response)
                         for response in responses])
responses_df.head()

  categoryid                                              pages
0     710421  {u'pageid': 7199, u'title': u'List of cat bree...
1     710421  {u'pageid': 28660394, u'title': u'List of expe...
2     710421  {u'pageid': 30875080, u'title': u'Abyssinian c...
3     710421  {u'pageid': 148839, u'title': u'American Bobta...
4     710421     {u'pageid': 70025, u'title': u'American Curl'}

In [12]:
cat_ids = [response['categoryid'] for response in responses]
cat_ids

[u'710421']

In [13]:
pd.DataFrame(responses[0]['pages'])

      pageid                            title
0       7199               List of cat breeds
1   28660394  List of experimental cat breeds
2   30875080                   Abyssinian cat
3     148839                 American Bobtail
4      70025                    American Curl
5   47185236                American Ringtail
6     638469               American Shorthair
7    2328963                American Wirehair
8   35809078                      Arabian Mau
9   11444751                        Asian cat
10   3413387              Asian Semi-longhair
11     63889                  Australian Mist
12  42964218                     Balinese cat
13  32389924                      Bambino cat
14     63064                       Bengal cat
15    146048                           Birman
16    638492                       Bombay cat
17  19031302              Brazilian Shorthair
18  15178017                 British Longhair
19     45323                British Shorthair
20    261787                      Burmese cat
21   1259546                         Burmilla
22    615214              California Spangled
23  42963973                     Cashmere cat
24   1516202                Chantilly-Tiffany
25    638548                        Chartreux
26   1022343                          Chausie
27  44345213                      Cheetoh cat
28   2570560             Colorpoint Shorthair
29     63258                      Cornish Rex
..       ...                              ...
69    963131                        Pixie-bob
70  43569735                         Raas cat
71   3055080                   Ragamuffin cat
72    610191                          Ragdoll
73    144792                     Russian Blue
74  12556065   Russian White, Black and Tabby
75  49413741                        Sam Sawet
76   1954032                     Savannah cat
77    145684                    Scottish Fold
78     64022                      Selkirk Rex
79   2851028                    Serengeti cat
80  49413707                Serrade petit cat
81     63087                      Siamese cat
82    639735                     Siberian cat
83    639747                    Singapura cat
84   9011815                      Skookum cat
85    799673                     Snowshoe cat
86   1034110                           Sokoke
87    148091                       Somali cat
88     64150                       Sphynx cat
89  46232331                         Suphalak
90  12150640                         Thai cat
91  31684693                       Thai Lilac
92    580880                    Tonkinese cat
93   2884695                           Toyger
94  30456458              Traditional Persian
95  50040691          Traditional Siamese cat
96    639754                   Turkish Angora
97  17353018                 Ukrainian Levkoy
98     63895                   York Chocolate

[99 rows x 2 columns]

In [14]:
cat_ids = [response['categoryid'] for response in responses]
cat_ids

[u'710421']

In [15]:
zipped = zip(categories['category'], cat_ids)
zipped

[('cat breeds', u'710421')]

In [16]:
for cat in zip(categories['category'], cat_ids):
    print(cat)
    db.create_or_update_category_in_database(cat[1], cat[0])

('cat breeds', u'710421')
Connected to server joshuacook.me.

## Query Wikipedia by page id for content

In [19]:
page_response = wiki.query_page('7199','List of cat breeds')

In [20]:
page_response.keys()

['pageid', 'title', 'summary', 'text', 'html']

In [21]:
responses[0]

{'categoryid': u'710421',
 'pages': [{'pageid': 7199, 'title': 'List of cat breeds'},
  {'pageid': 28660394, 'title': 'List of experimental cat breeds'},
  {'pageid': 30875080, 'title': 'Abyssinian cat'},
  {'pageid': 148839, 'title': 'American Bobtail'},
  {'pageid': 70025, 'title': 'American Curl'},
  {'pageid': 47185236, 'title': 'American Ringtail'},
  {'pageid': 638469, 'title': 'American Shorthair'},
  {'pageid': 2328963, 'title': 'American Wirehair'},
  {'pageid': 35809078, 'title': 'Arabian Mau'},
  {'pageid': 11444751, 'title': 'Asian cat'},
  {'pageid': 3413387, 'title': 'Asian Semi-longhair'},
  {'pageid': 63889, 'title': 'Australian Mist'},
  {'pageid': 42964218, 'title': 'Balinese cat'},
  {'pageid': 32389924, 'title': 'Bambino cat'},
  {'pageid': 63064, 'title': 'Bengal cat'},
  {'pageid': 146048, 'title': 'Birman'},
  {'pageid': 638492, 'title': 'Bombay cat'},
  {'pageid': 19031302, 'title': 'Brazilian Shorthair'},
  {'pageid': 15178017, 'title': 'British Longhair'},
  {'pageid': 45323, 'title': 'British Shorthair'},
  {'pageid': 261787, 'title': 'Burmese cat'},
  {'pageid': 1259546, 'title': 'Burmilla'},
  {'pageid': 615214, 'title': 'California Spangled'},
  {'pageid': 42963973, 'title': 'Cashmere cat'},
  {'pageid': 1516202, 'title': 'Chantilly-Tiffany'},
  {'pageid': 638548, 'title': 'Chartreux'},
  {'pageid': 1022343, 'title': 'Chausie'},
  {'pageid': 44345213, 'title': 'Cheetoh cat'},
  {'pageid': 2570560, 'title': 'Colorpoint Shorthair'},
  {'pageid': 63258, 'title': 'Cornish Rex'},
  {'pageid': 145675, 'title': 'Cymric cat'},
  {'pageid': 1065489, 'title': 'Donskoy cat'},
  {'pageid': 19997444, 'title': 'Dragon Li'},
  {'pageid': 386875, 'title': 'Egyptian Mau'},
  {'pageid': 1158095, 'title': 'European Shorthair'},
  {'pageid': 71025, 'title': 'Exotic Shorthair'},
  {'pageid': 48575141, 'title': 'Foldex cat'},
  {'pageid': 5495150, 'title': 'German Rex'},
  {'pageid': 565399, 'title': 'Havana Brown'},
  {'pageid': 38724655, 'title': 'Highlander cat'},
  {'pageid': 146031, 'title': 'Himalayan cat'},
  {'pageid': 38736227, 'title': 'Isle of Man Longhair'},
  {'pageid': 38736231, 'title': 'Isle of Man Shorthair'},
  {'pageid': 148843, 'title': 'Japanese Bobtail'},
  {'pageid': 638898, 'title': 'Javanese cat'},
  {'pageid': 27307256, 'title': 'Kashmir cat'},
  {'pageid': 24030657, 'title': 'Khao Manee'},
  {'pageid': 298906, 'title': 'Korat'},
  {'pageid': 22279493, 'title': 'Kurilian Bobtail'},
  {'pageid': 5387760, 'title': 'LaPerm'},
  {'pageid': 42287415, 'title': 'Lykoi'},
  {'pageid': 70024, 'title': 'Maine Coon'},
  {'pageid': 145672, 'title': 'Manx cat'},
  {'pageid': 51102656, 'title': 'Mexican Hairless Cat'},
  {'pageid': 26130075, 'title': 'Minskin'},
  {'pageid': 32745073, 'title': 'Minuet cat'},
  {'pageid': 145780, 'title': 'Munchkin cat'},
  {'pageid': 46910943, 'title': 'Napoleon cat'},
  {'pageid': 173764, 'title': 'Nebelung'},
  {'pageid': 173757, 'title': 'Norwegian Forest cat'},
  {'pageid': 145785, 'title': 'Ocicat'},
  {'pageid': 1136544, 'title': 'Ojos Azules'},
  {'pageid': 20582289, 'title': 'Oregon Rex'},
  {'pageid': 13807127, 'title': 'Oriental Bicolour'},
  {'pageid': 2569354, 'title': 'Oriental Longhair'},
  {'pageid': 639613, 'title': 'Oriental Shorthair'},
  {'pageid': 33876998, 'title': 'Persian cat'},
  {'pageid': 2769391, 'title': 'Peterbald'},
  {'pageid': 51119983, 'title': 'Pittsburgh refrigerator cat'},
  {'pageid': 963131, 'title': 'Pixie-bob'},
  {'pageid': 43569735, 'title': 'Raas cat'},
  {'pageid': 3055080, 'title': 'Ragamuffin cat'},
  {'pageid': 610191, 'title': 'Ragdoll'},
  {'pageid': 144792, 'title': 'Russian Blue'},
  {'pageid': 12556065, 'title': 'Russian White, Black and Tabby'},
  {'pageid': 49413741, 'title': 'Sam Sawet'},
  {'pageid': 1954032, 'title': 'Savannah cat'},
  {'pageid': 145684, 'title': 'Scottish Fold'},
  {'pageid': 64022, 'title': 'Selkirk Rex'},
  {'pageid': 2851028, 'title': 'Serengeti cat'},
  {'pageid': 49413707, 'title': 'Serrade petit cat'},
  {'pageid': 63087, 'title': 'Siamese cat'},
  {'pageid': 639735, 'title': 'Siberian cat'},
  {'pageid': 639747, 'title': 'Singapura cat'},
  {'pageid': 9011815, 'title': 'Skookum cat'},
  {'pageid': 799673, 'title': 'Snowshoe cat'},
  {'pageid': 1034110, 'title': 'Sokoke'},
  {'pageid': 148091, 'title': 'Somali cat'},
  {'pageid': 64150, 'title': 'Sphynx cat'},
  {'pageid': 46232331, 'title': 'Suphalak'},
  {'pageid': 12150640, 'title': 'Thai cat'},
  {'pageid': 31684693, 'title': 'Thai Lilac'},
  {'pageid': 580880, 'title': 'Tonkinese cat'},
  {'pageid': 2884695, 'title': 'Toyger'},
  {'pageid': 30456458, 'title': 'Traditional Persian'},
  {'pageid': 50040691, 'title': 'Traditional Siamese cat'},
  {'pageid': 639754, 'title': 'Turkish Angora'},
  {'pageid': 17353018, 'title': 'Ukrainian Levkoy'},
  {'pageid': 63895, 'title': 'York Chocolate'}]}

## Write page content to database

In [28]:
response = wiki.query_category("cat breeds")
for page in response['pages']:
    db.create_or_update_page_in_database(page['pageid'],710421,page['title'],
                                         wiki.query_page(str(page['pageid']),page['title'])['text'])

Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.
Connected to server joshuacook.me.

##  Encode page as document vectors

In [23]:
db.connect_to_postgres()

Connected to server joshuacook.me.

(<connection object at 0x114046d60; dsn: 'user=kari password=xxxxx roll correctly police' host=joshuacook.me port=5432 dbname=project_6', closed: 0>,
 <cursor object at 0x110a97620; closed: 0>)

In [26]:
page_vectors = db.select_all_page_vectors()

Connected to server joshuacook.me.

In [31]:
page_vectors_df = pd.DataFrame.from_records(page_vectors)
page_vectors_df.index = page_vectors_df[0]
page_vectors_df.drop(0, inplace=True, axis=1)
page_vectors_df.head()

                                                          1
0
344083    [0.275585459678, -0.101264765275, 0.0071147303...
45260809  [0.187592880123, -0.0532276248654, 0.016398662...
4341789   [0.0930368087013, -0.0385402048546, -0.0007905...
2514975   [0.124437577366, 0.166966998311, -0.2158265304...
35135520  [0.191218953783, -0.0319792314494, 0.011208635...